/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* 
* * LAYOUT
   
   white background on whole page */ 

body {
    background-color: White;
    font-family: 'Roboto', sans-serif;
}
div {
    border: 1px solid Chocolate;
}



/* Navigation Section */

.top-navigation {
	background-color: #fff;
	position: fixed;
	width: 100%;
	z-index: 9999;
}
.content {
	height: 70px;
	padding: 0px 15px;
	margin: 0 auto; 
	width:970px;
}

.top-navigation .logo {
    height: 70px;
}

.top-navigation .links {
	float: right;
    margin-top: 1.7rem;
}

.top-navigation .links li {
    display: inline-block;
    margin-left: 2.5rem;
    font-family: 'Roboto', sans-serif; 
	font-size: 16px; 
	color: #878787; 
	letter-spacing: 0.03em;
	-webkit-font-smoothing: antialiased;
}

/* Default state of active in nav */
.top-navigation .links .active {
    color: #4c5058;
    font-weight: 600;
}

.top-navigation .links li:hover {
    color: black;
    cursor: pointer;
}


/* Photo section below nav */

.introduction {
	background-image: url("../images/first-background.jpg");
	background-color: White;
	background-position: center bottom;
	background-repeat: no repeat;
	background-size: cover;
	height: 46rem;
}

/* Typography for photo intro below nav */

.introduction h1,
.introduction h3 {
    color: white;
    text-align: center;
    font-weight: 300;
}
.introduction h1 {
    margin-top: 16rem;
    font-size: 3.125rem;
}
.introduction h3 {
    margin-top: 1.25rem;
    margin-bottom: 2rem;
    font-size: 1.563rem;
}

/* Button on splash screen */

.big-button {
    text-shadow: none;
    border-style: none;
    border-radius: 4px;
    padding: 16px 26px;
    line-height: 1.33;
    width: 200px;
    background-color:blue;
    font-size: 1rem;
    color: white;
    display: block;
    margin: 0 auto;
}

.big-button:hover {
    text-shadow: none;
    border-style: none;
    border-radius: 4px;
    padding: 16px 26px;
    line-height: 1.33;
    width: 200px;
    background-color:red;
    font-size: 1rem;
    color: white;
    display: block;
    margin: 0 auto;
    cursor: pointer;
}

/* Three Features below hero image */

.features {
	background-color: white;
	height: 30rem;
}

/* Typography for features section */

.features h1,
.features h3 {
    color: black;
    text-align: center;
    font-weight: 300;
}
.features h1 {
    margin-top: 5rem;
    font-size: 2.6rem;
    margin-bottom: 3rem;
}
.features h3 {
    margin-top: 1.25rem;
    margin-bottom: 4rem;
    font-size: 1.563rem;
    font-weight: 400;
}

.features-icons {
	display:block;
	margin: 0 auto;
}

.features-icons li {
	display: inline-block;
	width: 120px;
	margin: 0 100px;
}

.captions li {
    display: inline-block;
    width: 240px;
    margin: 0 38px;
    vertical-align: top;
}
	
.captions {
    margin-top: 15px;
}

/**
 * Footer
 */
.social {
    background-color: #fff;
    overflow: auto;
    padding-bottom: 9.375rem;
    text-align: center;
}
.social hr {
    border: 0;
    border-top: 1px solid #eaebec;
    margin: 1.313rem 0;
}
.social .icons > li {
    border-radius: 1.25rem;
    width: 2.5rem;
    
    display: inline-block;
    margin: 1.25rem 5px;
    border: 1px solid #eaebec;
    padding: 0.625rem 0;
    text-align: center;
}
.social .icons > li:hover {
    cursor: pointer;
}
.social .twitter {
    color: #55acee;
}
.social .facebook {
    color: #4c66a4;
}
.social .instagram {
    color: #3f729b;
}
.social .copy {
    font-size: 0.9rem;
    font-weight: 300;
    color: #838994;


